{% extends 'teacherbase.html' %}
{% load static %}
{% block teacher %}

<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center pb-4">View Attendance</h1>
        <table class="table table-bordered text-center">
            <tr>
                <th>S. No</th>
                <th>Roll No</th>
                <th>Name</th>
                <th>Class</th>
                <th>Date</th>
                <th>Attendance</th>
            </tr>
            {% for a in att %}

            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{a.rollno}}</td>
                <td>{{a.name}}</td>
                <td>{{a.sclass}}</td>
                <td>{{a.created_date}}</td>
                <td>{{a.status}}</td>
            </tr>

            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}