{% extends 'base.html' %}
{% block body %}
{% load static %}


<!-- red line start -->
<div class="row p-1" style="background: linear-gradient(to right, rgba(34, 6, 172), rgba(191, 194, 7))"></div>
<!-- red line end -->


<!-- About img start -->
<div class="row text-center" style="background: linear-gradient(to right, #f44242, rgb(68, 118, 245))">
    <div class="col-sm-12 ">
        <div class="col-sm-10  mx-auto py-5">
            <span>
                <a href="{% url 'index' %}" class="text-decoration-none ">HOME</a>
                <a href="#" class="text-decoration-none text-white">||&nbsp;About School</a>
            </span>
            <h1><span><span
                        style="line-height: 6vh; padding-bottom:1px; border-bottom: 5px solid rgb(24, 117, 210);"><b>ABOUT SCHOOL</b></span></span></h1>
        </div>
    </div>
</div>

<!-- About img start -->

<!-- red line start -->
<div class="row bg-secondary p-1"></div>
<!-- red line end -->


<!-- About 1 start -->
<div class="row  py-5  text-white"style="background-color: rgb(24, 24, 60);">
    <div class="col-sm-10 mx-auto  px-4">
        <p style="font-size: 23px;"><b style="line-height: 7vh; padding-left:8px; border-left: 5px solid rgb(210, 36, 24);">ABOUT US</b></p>
        <p style="font-size: 17px; text-align: justify;"> <b>Seth Anandram Jaipuria School, Sadhu Campus –
                Barabanki </b> is committed to <b>‘Empower, Enthuse and Excel’</b> in providing quality
            education and ensuring that every child is taught the necessary values to guide him/her through the
            journey of life. We at Seth Anandram Jaipuria School endow education for LIFE!</p>
    </div>
    <!-- About 1 end -->



    <!-- who we are start -->
</div>
<div class="row  pb-5 text-white" style="background-color: rgb(24, 24, 60);">
    <div class="col-sm-10 mx-auto  px-4 py-5 ">
        <P style="font-size: 23px;"><b style="line-height: 7vh; padding-left:8px; border-left: 5px solid rgb(210, 36, 24);">Who We Are</b></P>
       <ul>
        <li><p style="font-size: 17px; text-align: justify;">Seth Anandram Jaipuria School, Sadhu Campus –
                Barabanki, is spread over a lush green campus of 2.16 acres. It offers an extensive range of
                facilities for the all-round development of every child. Every classroom of the school has
                Digital Smart Boards.</p></li>
        <li><p style="font-size: 17px; text-align: justify;" class="pt-4">We adopt a child-centric approach to
            education and
            recognize talent in our students. New, modern-day pedagogical concepts such as Design Thinking,
            Literacy and Numeracy Skills are part of the school’s curriculum. We stress on good values like
            compassion, empathy, kindness, solidarity and tolerance as much as we emphasize on intellect,
            wit, critical thinking, and analytical reasoning.</p></li>
       </ul>
    </div>
</div>
<!-- who we are end -->




{% endblock %}