<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Management System</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
        .c {
            text-decoration: none;
        }

        .menu3 {
            display: flex;
            align-items: center;
            list-style: none;


        }

        .menu3 li {
            margin-left: 10px;
            display: block;
            height: 100%;
            font-size: 18px;
            position: relative;
            display: flex;
            align-items: center;
            color: #992323;
            text-transform: uppercase;
            text-shadow: 0 0 15px #f2ff01;
            transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        .menu3 li:after {
            content: "";
            position: absolute;
            width: 0%;
            height: 1px;
            display: block;
            transition: all 0.3s ease;
            bottom: 25%;
        }

        .menu3 li:hover::after {
            width: 100%;
            height: 2px;
            background-color: #2f39f7;
        }
    </style>

</head>

<body>
    <div class="container-fluid">
        <!-- bar start -->
        <div class="row bg-warning p-2">
            <div class="col-sm-4 ">
                <span><i class="fa-regular fa-clock"></i>&nbsp;&nbsp;School Is Open From 8:00 am to 2:00
                    pm</span>
            </div>
            <div class="col-sm-8 text-end ">
                <span>

                    <i class="fa fa-phone fa-shake" aria-hidden="true"></i>&nbsp;<a href="#" class="c">9044554046</a>,
                    <a href="#" class="c">9044554045</a>&nbsp;&nbsp;||&nbsp;&nbsp;

                </span>

                <span><i class="fa-solid fa-envelope fa-shake"></i>&nbsp;<a
                        href="mailto:admission.sadhucampus@jaipuria.school"
                        class="c">admission.sadhucampus@jaipuria.school</a></span>
                <span>
                    <span
                        style="font-size: 18px; background-color: white; color: rgb(10, 105, 228); padding: 5px; border-radius: 5px; "
                        class="ms-1"><a href="https://www.facebook.com/jaipuriaschoolsadhucampus"><i
                                class="fa-brands fa-facebook"></i></a></span></span>
                <span><span
                        style="font-size: 18px; background-color: white; color: rgb(235, 52, 122); padding: 5px; border-radius: 5px;"><a
                            href="https://www.instagram.com/jaipuriaschoolsadhucampus"><i
                                class="fa-brands fa-instagram"></i></a></span></span>
                <span><span
                        style="font-size: 18px; background-color: white; color: rgb(227, 23, 27); padding: 5px; border-radius: 5px;"><a
                            href="https://www.youtube.com/channel/UCVZPQh0BHms68D2HpOFdlhg"><i
                                class="fa-brands fa-youtube"></i></a></span>
                </span>

            </div>
        </div>
        <!-- bar end -->
        <!-- nav bar start -->
        <div class="row sticky-top" >
            <div class="col-sm-12 p-0">

                <nav class="navbar navbar-expand-lg bg-body-tertiary" >
                    <div class="container-fluid">
                        <img src="{% static 'images/camp.jpeg' %}" alt="error" height="100" width="300">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu3 mx-auto"
                                style=" font-family: Roboto Slab;">
                                <li class="nav-item ">
                                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">HOME</a>
                                </li>


                                <li class="nav-item dropdown">
                                    <a class="nav-link  active " href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">ABOUT US</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'visandmis' %}">Visioon & Mission</a>
                                        </li>
                                        <li><a class="dropdown-item" href="{% url 'about' %}">About School</a></li>
                                        <li><a class="dropdown-item" href="{% url 'fdsmsg' %}">Founder's Message</a>
                                        </li>
                                        <li><a class="dropdown-item" href="{% url 'chairman' %}">Chairman's Message</a>
                                        </li>
                                        <li><a class="dropdown-item" href="{% url 'principal' %}">Principal's
                                                Message</a></li>
                                        <li><a class="dropdown-item" href="{% url 'smteam' %}">School Management
                                                Team</a></li>
                                        <li><a class="dropdown-item" href="https://jaipuria.edu.in/contact-us/"
                                                target="_blank">Group & Institutions</a></li>

                                    </ul>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link active" aria-current="page"
                                        href="{% url 'academic' %}">ACADEMIC</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link  active" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">FACILITIES</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'transport' %}">Transport</a></li>
                                        <li><a class="dropdown-item" href="{% url 'medicalroom' %}">Medical Room</a>
                                        </li>
                                        <li><a class="dropdown-item" href="{% url 'smartclass' %}">Smart Class</a></li>
                                        <li><a class="dropdown-item" href="{% url 'otherfacilities' %}">Other
                                                Facilities</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link  active" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">ADDMISSION</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'addmission' %}">Addmission
                                                Procedure</a></li>
                                        <!-- <li><a class="dropdown-item" href="#">Download Prospectus</a></li> -->
                                        <li><a class="dropdown-item" href="{% url 'rules' %}">Rules & Regulations</a>
                                        </li>
                                        <li><a class="dropdown-item" href="{% url 'fstructure' %}">Fee Structure</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link  active" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">MEDIA</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'newsevent' %}">News Events</a></li>
                                        <li><a class="dropdown-item" href="{% url 'video' %}">Video Gallery</a></li>

                                    </ul>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link active" aria-current="page" href="{% url 'career' %}">CAREER</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">CONTACT
                                        US</a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'login' %}" class="nav-link active" aria-current="page">ERP
                                        LOGIN</a>
                                </li>


                            </ul>

                        </div>
                    </div>

                </nav>

            </div>
        </div>
        <!-- nav bar end -->


        <!-- main start -->

        {% block body %}


        {% endblock %}

        <!-- main end -->
        <!--  -->
        <div class="row p-1 " style="background: linear-gradient(to right, rgba(34, 6, 172), rgba(191, 194, 7))"></div>
        <!--  -->

        <!-- footer start -->
        <div class="row bg-dark  py-5 text-white">
            <div class="col-sm-10 mx-auto bg-secon px-4">
                <div class="row">
                    <div class="col-sm-4">
                        <h6 class="fw-bold pb-2">ABOUT US</h6>
                        <p style="text-align: justify;">Seth Anandram Jaipuria School, Sadhu Campus – Barabanki, follows
                            the motto ‘Empower, Enthuse and Excel’ by sparking the students’ curiosity and enthusing and
                            empowering them with knowledge to excel in all aspects of school education. We create
                            life-long learners</p>
                    </div>
                    <div class="col-sm-4 ">
                        <!-- Links -->
                        <h6 class=" fw-bold pb-2">QUICK LINKS</h6>
                        <p style="line-height: 3vh; padding-bottom:10px; border-bottom: 1px solid grey">
                            <a href="{% url 'contact' %}" class="text-reset" style="text-decoration: none;"><i
                                    class="fa-solid fa-angle-right fa-shake"></i>&nbsp;Contact Us</a>
                        </p>
                        <p style="line-height: 3vh; padding-bottom:10px; border-bottom: 1px solid grey">
                            <a href="{% url 'career' %}" class="text-reset" style="text-decoration: none;"><i
                                    class="fa-solid fa-angle-right fa-shake"></i>&nbsp;Career</a>
                        </p>
                        <p style="line-height: 3vh; padding-bottom:10px; border-bottom: 1px solid grey">
                            <a href="{% url 'fstructure' %}" class="text-reset" style="text-decoration: none;"><i
                                    class="fa-solid fa-angle-right fa-shake"></i>&nbsp;Fee Structure</a>
                        </p>
                        <p style="line-height: 3vh; padding-bottom:10px; border-bottom: 1px solid grey">
                            <a href="{% url 'index' %}" class="text-reset" style="text-decoration: none;"><i
                                    class="fa-solid fa-angle-right fa-shake"></i>&nbsp;<b>Parent Portal</b></a>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <h6 class="fw-bold pb-2">CONTACT US</h6>
                        <p><span class="fw-bold"><i class="far fa-dot-circle"></i>&nbsp;Seth Anandram Jaipuria School,
                                Sadhu Campus, Barabanki:</span> Village -Jhansapurwa, Post-Madanpur,Tehsil-Fatehpur,
                            Barabanki Pincode-225305</p>
                        <p><span class="fw-bold"><i class="fab fa-whatsapp"></i>&nbsp;Phone:</span> 9044554046,
                            9044554045</p>
                        <p><span class="fw-bold"><i class="far fa-clock"></i>&nbsp;Working
                                Days/Hours:</span>&nbsp;Summer-
                            08:00 am – 02:00 pm Winters- 09:00 am – 03:00 pm</p>
                        <p>

                        </p>
                        <span>
                            <a href="https://www.facebook.com/jaipuriaschoolsadhucampus" style="border-radius: 5px;"
                                class=" border border-1 border-white text-white p-2"><i
                                    class="fa-brands fa-facebook "></i></a>
                            <a href="https://www.youtube.com/channel/UCVZPQh0BHms68D2HpOFdlhg"
                                style="border-radius: 5px;" class=" border border-1 border-white text-white p-2"><i
                                    class="fa-brands fa-youtube"></i></a>
                            <a href="https://www.instagram.com/jaipuriaschoolsadhucampus" style="border-radius: 5px;"
                                class=" border border-1 border-white text-white p-2"><i
                                    class="fa-brands fa-instagram"></i></a>

                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer end -->
        <!--  -->
        <div class="row p-1 " style="background: linear-gradient(to right, rgba(34, 6, 172), rgba(191, 194, 7));"></div>
        <!--  -->
        <!-- footer 2 start -->
        <div class="row text-white" style="background-color: rgb(36, 36, 41);">
            <div class="col-sm-10 mx-auto ">
                <div class="row">
                    <div class="col-sm-12 p-4">
                        <small>&copy;&nbsp;Copyright 2024. All Rights Reserved</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer 2 end -->
    </div>

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>

</html>