{% extends 'adminbase.html' %}
{% load static %}
{% block admin %}

<div class="row">
    <h1 class="text-center">Edit Teacher</h1>
    <form method="post">
        {% csrf_token%}
        <div class="row">
            <div class="col-md-6">
                <label for="n" class="form-label">Teacher ID</label>
                <input type="text" name="id" value="{{teacher.id}}" id="n" class="form-control border-0" readonly>
            </div>
            <div class="col-md-6">
                <label for="n" class="form-label">Name</label>
                <input type="text" name="name" value="{{teacher.name}}" id="n" class="form-control border-0">
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <label for="fn" class="form-label">Father's Name</label>
                    <input type="text" name="fname" value="{{teacher.fname}}" id="fn" class="form-control border-0">
                </div>
                <div class="col-md-6">
                    <label for="mn" class="form-label">Mother's Name</label>
                    <input type="text" name="mname" value="{{teacher.mname}}" id="mn" class="form-control border-0">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label for="dob" class="form-label">Date of Birth</label>
                    <input type="date" name="dob" value="{{teacher.dob}}" id="dob" class="form-control border-0">
                </div>
                <div class="col-md-6">
                    <label for="cn" class="form-label">Contact No</label>
                    <input type="number" name="contactno" value="{{teacher.contactno}}" id="cn"
                        class="form-control border-0">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label for="em" class="form-label">Email Address</label>
                    <input type="email" name="emailaddress" value="{{teacher.emailaddress}}" id="em"
                        class="form-control border-0">
                </div>
                <div class="col-md-6">
                    <label for="g" class="form-label">Gender</label>
                    <input type="text" name="gender" value="{{teacher.gender}}" id="g" class="form-control border-0">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label for="ql">Qualification</label>
                    <input type="text" name="qualification" value="{{teacher.qualification}}" id="ql"
                        class="form-control border-0">

                </div>
                <div class="col-md-6">
                    <label for="sal" class="form-label">Salary</label>
                    <input type="text" name="salary" value="{{teacher.salary}}" id="sal" class="form-control border-0">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label for="cl" class="form-label">Class Teacher</label>
                    <input type="text" name="tclass" value="{{teacher.tclass}}" id="cl" class="form-control border-0">
                </div>
                <div class="col-md-6">
                    <label for="cl" class="form-label">Class Teacher</label>
                    <input type="text" name="tclass" value="{{teacher.tclass}}" id="cl" class="form-control border-0">
                </div>
            </div>
            <div class="col-md-12  mt-3">
                <label for="ad" class="form-label">Address</label>
                <textarea name="address" id="ad" class="form-control border-0">{{teacher.address}}</textarea>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success">Update</button>

            </div>


        </div>
    </form>
</div>


{% endblock %}