{% extends 'adminbase.html' %}
{% load static %}
{% block admin %}

<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center">Enquiries</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Contact No</th>
                    <th>Email Address</th>
                    <th>Enquiry text</th>
                    <th>Enquiry Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% for e in enq %}
               
            <tbody>
                <tr>
                    <td>{{e.id}}</td>
                    <td>{{e.name}}</td>
                    <td>{{e.gender}}</td>
                    <td>{{e.address}}</td>
                    <td>{{e.contactno}}</td>
                    <td>{{e.emailaddress}}</td>
                    <td>{{e.enquirytext}}</td>
                    <td>{{e.enquirydate}}</td>
                    <td>
                        <a href="{% url 'adminapp:delenq' id=e.id  %}" class="btn btn-sm btn-danger ">Delete</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
            
            
        </table>
    </div>
</div>





{% endblock %}