{% extends 'adminbase.html' %}  
{% load static %}
{% block admin %}

<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center py-4">View Teachers</h1>
    
            <table class="table table-bordered text-center">
                <tr>
                    <th>Teacher ID</th>
                    <th>Name</th>
                    <th>Father's Name</th>
                    <th>Mother's Name</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th>Contact NO</th>
                    <th>Email Address</th>
                    <th>Class Teacher</th>
                    <th>Address</th>
                    <th>Salary</th>
                    <th>Qualification</th>
                    <th>Added Date</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                {% for t in teacher %}

                <tr>
                    <td>{{t.id}}</td>
                    <td>{{t.name}}</td>
                    <td>{{t.fname}}</td>
                    <td>{{t.mname}}</td>
                    <td>{{t.gender}}</td>
                    <td>{{t.dob}}</td>
                    <td>{{t.contactno}}</td>
                    <td>{{t.emailaddress}}</td>
                    <td>{{t.tclass}}</td>
                    <td>{{t.address}}</td>
                    <td>{{t.salary}}</td>
                    <td>{{t.qualification}}</td>
                    <td>{{t.created_date}}</td>
                    
                    <td><a href="{% url 'adminapp:editteacher' id=t.id %}" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td>
                        <a href="{% url 'adminapp:delteacher' id=t.id %}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                        
                    </td>
                </tr>


                {% endfor %}
            </table>
      
    </div>
</div>





{% endblock %}